<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <small class="text-nowrap">(<%= article.date.strftime('%F') %>)</small></li>
  <% end %>
</ul>
