<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <div class="pull-xs-left"><%= link_to '&laquo;&nbsp;Previous page', prev_page %></div>
  <% end %>

  <% if next_page %>
    <div class="pull-xs-right"><%= link_to 'Next page&nbsp;&raquo;', next_page %></div>
  <% end %>

  <p class="clearfix"></p>
<% end %>
