<% if previous_article %>
  <div class="pull-xs-left"><%= link_to '&laquo;&nbsp;Previous post', previous_article %></div>
<% end %>

<% if next_article %>
  <div class="pull-xs-right"><%= link_to 'Next post&nbsp;&raquo;', next_article %></div>
<% end %>

<p class="clearfix"></p>
