---
title: "Flock 2013 Review"
date: 2013-08-17 18:17:00 +02:00
tags: Fedora
---
<p>As many before me have blogged, <a href="https://blog.mathys.io/2013/07/fedora-19-released-now-with-official.html">Flock 2013</a> has taken place between August 9 and 12, 2013. Thanks to generous sponsors my travel and accommodation have been funded this time so I could make the trip and participate. Thanks to all who made this possible!</p>

<p>While many other bloggers found Flock to be very productive I personally found it less productive than some of the previous FUDCons in North America but still more productive than FUDCons in Europe. But that might well have two reasons. First, it's been the very first Flock and I'm sure lessons were learnt and the feedback showed the big gaps already. Secondly, my personal focus has shifted quite some and into a field that is only a smart part of Fedora: the Cloud (cloud images and OpenStack) so naturally less would be going on in that area than in many other areas of interest where Fedora is working on for a longer time already and more focused on anyway (like being an Linux OS).</p>

<p>So I attended a couple of sessions and most of them were interesting. But I don't have much to add to most of them, yet I'd like to comment shortly on two.</p>

<h3>OpenStack Test Event</h3>

<p>It was great to see that more people were interested in OpenStack than expected. We were an interesting mix of (upstream) developers, testers, (RDO) community folks and users. There's also been a few people who were looking for an introduction to OpenStack by this way so we begun with a quick overview by <a href="https://russellbryantnet.wordpress.com/">Russell Bryant</a>. Afterwards we went on trying to install Havana-2 (i.e. the second milestone of the <a href="https://wiki.openstack.org/wiki/Havana_Release_Schedule">upcoming release</a>) on Fedora 19 which <a href="http://kashyapc.com/">Kashyap Charmathy</a> prepared for us. Obviously, some did it to learn how OpenStack works first-hand and others like me were there to find and document existing bugs (we already knew it wouldn't run out of the box). Personally, I did quite some bug hunting and also found work around for all issues plus I tried my best to help new users with problems.</p>

<p>So in the end I had a number of bugs with workarounds plus one issue I didn't have the time to debug yet which I did later back home. From all this, I'm going to write a blog post so others can profit from my experience.</p>

<p>Last but not least, I must say it was great to finally meet some people I've been working with over IRC, mailing lists and forums for a while already. It's been a great pleasure with you all!</p>

<h3>QA Meeting</h3>
<p>Since Monday just before lunch time (EDT) is the regular <a href="https://fedoraproject.org/wiki/QA/Meetings">QA IRC meeting time</a>, we decided to do it LIVE at Flock. <a href="https://fedoraproject.org/wiki/QA/Meetings/20130812">Agenda</a> was mostly how to test <a href="https://fedoraproject.org/wiki/Architectures/ARM">ARM</a> stuff (since it's now a primary architecture) and the <a href="https://cloud.fedoraproject.org/">cloud image</a> (which is getting increasingly popular and important). Since many Fedora QA, Fedora ARM and Fedora Cloud SIG people were around it only made sense it sit together and do it this way. We also broadcasted (and <a href="https://youtu.be/s6MJ5wqVvBc">archived</a>) the show live to Youtube (as most sessions were) and had the usual IRC meeting running in parallel so remotees could still participate as usual. Well, almost (the live video feed lagged quite a bit behind and we were not very good and getting everything into IRC).</p>

<p>So again, it's been nice to see those people but this time I already knew most of them. Still, always good to see you all! Also, we quickly came to the conclusion that sometimes a face-to-face meeting like this would be helpful. Maybe we'll do it again over Hangout or such soon, or at least as a VoIP meeting.</p>
