---
title: "Fedora Cloud SIG @ Flock 2013?"
date: 2013-05-14 21:42:00 +02:00
tags: Fedora
---
Just copying a (hopefully) motivational e-mail I just sent to the Fedora Cloud SIG mailing list regarding the upcoming Fedora contributors conference. Maybe it gets people outside the SIG motivated to get involved, too...

<blockquote class="blockquote"><p><a href="https://flock-lmacken.rhcloud.com/new">Registration</a> and <a href="https://flocktofedora.org/submit-a-talk/">Call for Papers</a> for <a href="https://flocktofedora.org/">Flock 2013</a> are open, yet there's not a single talk on actual Cloud SIG topics <a href="">proposed</a> (not counting the two talks where Cloud / OpenStack are mentioned as a tool).</p>

<p>Are there no topics to propose? Does nobody have anything to discuss? Is there nothing to hack on in a group? Nothing you would like to hear about? Feel free to suggest something if you don't wish to talk yourself and we'll see if we can find someone to step up.</p>

<p>My suggestion would probably be a discussion (talk? hackfest? workshop? sprint?) around the generic Fedora cloud images. What should they look like, how should they be built, how often should they be (re-)released, etc. Just my 5c, though as I'm not leading that effort (nor am I qualified to speak on it).</p>

<p>If anyone is interested, I could probably do something about <a href="https://wiki.openstack.org/wiki/Packstack">Packstack</a> (being a minor contributor and user) but there might be better qualified people (and I can't yet guarantee I'll be there). There any interest in such a session? What would you like to see covered?</p>

<p>Will OpenStack Havana Milestone 2 be packaged? If so, we could maybe do a preliminary Testing / QA session (and maybe some QA folks will help us, too) - like a test run for the next test day.</p>

<p>Who else has an idea or proposal? Sorry for being very OpenStack-heavy myself, other topics covered by the cloud SIG are welcome as well, of course.</p></blockquote>
