---
title: "Fedora 19 released, now with official cloud images"
date: 2013-07-03 16:33:00 +02:00
tags: Fedora, OpenStack
---
<p>Earlier this week, Fedora 19 ("Schrödinger's Cat") has been released. If you've missed the news, here's the <a href="https://lists.fedoraproject.org/pipermail/announce/2013-July/003167.html">announcement</a> by Fedora Project Leader Robyn Bergeron and to be complete, here's the <a href="https://docs.fedoraproject.org/en-US/Fedora/19/html/Release_Notes/index.html">release notes</a>, too.</p>

<p>As with ever new Fedora release, there's a load of new <a href="https://fedoraproject.org/wiki/Releases/19/FeatureList">features</a>. But in all those linked pages (and most press articles, too) one thing is easily missed or even completely absent that might be of interest to all users and operators of clouds (be it OpenStack, Eucalyptus, CloudStack or any other).</p>

<h3>Fedora 19 Cloud Images</h3>

<p>While providing AMI images inside Amazon EC2 for a while already, Fedora 19 is the first release to also feature official raw and qcow2 images ready to run in your own public or private cloud!</p>

<p>From the release notes, <a href="https://docs.fedoraproject.org/en-US/Fedora/19/html/Release_Notes/sect-Release_Notes-Changes_for_Sysadmin.html#sect_Cloud">section Cloud</a> (2.7.1):</p>

<blockquote><p>Ready-to-run cloud images are provided as part of Fedora 19. These are available in Amazon EC2 or for direct download. The downloadable images are available in compressed raw image format and in qcow2 for immediate use with EC2, OpenStack, CloudStack, or Eucalyptus. The images are configured with cloud-init, and so will take advantage of ec2-compatible metadata services for provisioning SSH keys.</p></blockquote>

<p>So what are you waiting for? Get them, while they're hot! Quick link: <a href="https://cloud.fedoraproject.org/">cloud.fedoraproject.org</a></p>

<h3>Import into OpenStack</h3>

<p>For fellow OpenStack operators who wish to import Fedora 19 into Glance, the OpenStack Image Service, let me provide an example on how to easily import an image, e.g. x86_64 / qcow2:<br></p>

<kbd>glance image-create --name "Fedora 19 x86_64" --is-public true --container-format bare --disk-format qcow2 --copy-from http://download.fedoraproject.org/pub/fedora/linux/releases/19/Images/x86_64/Fedora-x86_64-19-20130627-sda.qcow2</kbd>

<h3>Or click your way through Horizon instead</h3>

<p>If you run OpenStack Grizzly or Havana, it's also possible to import the image easily through Horizon, the OpenStack Dashboard.</p>

<p>In your <code>Project</code> view, just go to  <code>Images &amp; Snapshots</code> and click the <code>Create Image</code> button in the top right corner. Again, specify a <code>Name</code> (e.g. Fedora 19 x86_64), provide the <code>Image Location</code> by <a href="https://download.fedoraproject.org/pub/fedora/linux/releases/19/Images/x86_64/Fedora-x86_64-19-20130627-sda.qcow2">URL</a>, choose <code>QCOW2</code> as the <code>Format</code> and decide whether you want to make this image <code>Public</code> to all users of your cloud or only to your very own tenant. The <code>Minimum Disk</code> and <code>Minimum RAM</code> parameters are optional.</code>

<p>Now, <code>Create Image</code> and, depending on your bandwidth to the closest mirror, Fedora 19 will soon be available to be launched!</p>
