---
title: "Setting a user password when launching cloud images"
date: 2013-07-05 16:11:00 +02:00
tags: Fedora, OpenStack
---
<p>If you're using e.g. the new Fedora 19 cloud images (see <a href="https://blog.mathys.io/2013/07/fedora-19-released-now-with-official-cloud-images.html">my previous post</a>) you might have noticed that logging in with a password is disabled, both as root or the default user fedora. Usually, that's no issue and actually a security feature. Injecting and using SSH keys instead is the accepted solution. But that's not what I'm here to discuss today.</p>

<p>Still, sometimes logging in over SSH does not do the job. Maybe networking in your cloud is broken and you need access to a guest to further debug it. But no networking, no SSH login. Fortunately, you can use (no)VNC and a tty to log in, right? Well, except SSH keys don't work there. Hence you need the user (or root) to accept password based logins.</p>

<h3>Cloud-Init</h3>

<p>Luckily, Fedora 19 like most other modern cloud images uses cloud-init and thereby supports userdata (which basically is user-provided metadata). Now, with userdata, you can write a simple "script" (it's actually a YAML-style config file) to set a password. By default, that password can be used only just once and needs to be changed upon login. Unless you diable the expiration with another parameter. And if you want enable password login over SSH, there's a parameter for that as well. So putting all together, your userdata script could look like this:<br>
<samp>#cloud-config<br>
password: mysecret<br>
chpasswd: { expire: False }<br>
ssh_pwauth: True</samp></p>

<p>Please note, that the first line is <b>not</b> a comment but actually a required "keyword".</p>

<p>Now, there's as many ways to provide the cloud image with the userdata as there are different ways to launch a cloud image. Let me cover what I know.</p>

<h3>Horizon</h3>

<p>If you're launching your instances through Horizon, the OpenStack Dashboard, you go to <code>Instances</code>, click the <code>Launch Instance</code> button, do your usual settings, go to the <code>Post-Creation</code> tab and insert the above code as a <code>Customization Script</code>. Hit the <code>Launch</code> button and that's it. Once the instance is up, you should be able to log in with the configured password.</p>

<h3>Nova CLI</h3>

<p>On the command line, you need to create a text file with the code above. Then, you just give that <code>nova boot</code> command a <code>--user-data &lt;myscript&gt;</code> parameter and there you go. Again, once the instance is up, you should be able to log in with the configure password.</p>

<h3>Other clouds, other tools and the APIs</h3>

<p>Right, obviously the userdata mechanism isn't exclusive to OpenStack. I'm certain Amazon EC2 does it too (probably did it first) and so might other cloud stacks like Eucalyptus. Also, other tools than the Nova CLI do support it, e.g. the euca2ools. And both the OpenStack Compute API and the EC2 API, probably among others, do support it, too. Unfortunately, my experience and knowledge are limited and therefore I'll have to send you to the respective documentation or support channels. But as long as your cloud image is using (a current version of) cloud-init, the above script should work independent of the underlying solutions. After all, isn't that the purpose of true cloud computing?</p>
