---
title: "In case you've been missing libgcrypt.so.11"
date: 2014-05-21 16:21:00 +09:00
tags: Fedora
---
<p>If you're running Fedora rawhide and would like to install e.g. Google Chrome, you probably already noticed there's no libgcrypt.so.11 anymore due to a soname bump some time ago.</p>

<p>Facing the same issue, I finally gave in and took the last pre-bump srpm and turned it into a compat package. Thinking others might share the pain and would like to receive some relief, I turned that into a Copr.</p>

<p>Enjoy at your own risk:
<a href="https://copr.fedoraproject.org/coprs/red/libgcrypt.so.11/">https://copr.fedoraproject.org/coprs/red/libgcrypt.so.11/</a></p>

<p>There won't be any updates (that's what the proper libgcrypt package is there for), fixes or warranties. If anything at all, all other warranties will be voided if you install the compat-libgcrypt package.</p>
