---
title: "Want to give BPG / libbpg a try? Here's a repo for you."
date: 2014-12-10 17:49:00 +09:00
tags: Fedora
---
<p>By now, most people will have heard about <a href="http://bellard.org/bpg/">libbpg</a>. Or maybe rather about the new BPG (better portable graphics) image format that was created by <a href="https://en.wikipedia.org/wiki/Fabrice_Bellard">Fabrice Bellard</a>, creator of qemu and ffmpeg, to possibly hopefully replace JPEG (and maybe even PNG) image formats one day.</p>

<p>Right now, there's no support in any tool but only just, two binaries (command line decoder and encoder for conversion to/from other image formats), a static library and a javascript decoder (to use BPG format images on websites while browsers don't yet support it). Therefore, it's likely way too early for most people to do anything with it.</p>

<p>But since I was playing around with the library anyway, I created a RPM package, just for fun, and created a Fedora COPR repository from it for everyone's profit. Feel free to use this repo/package/software at your own risk and get it by following the instructions at <a href="http://copr.fedoraproject.org/coprs/red/libbpg">https://copr.fedoraproject.org/coprs/red/libbpg/</a></p>

<p>Patches to the spec file welcome, but don't expect any kind of support or such.</p>
