body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  padding-bottom: 2.4375rem;
}
::-moz-selection {
  color: #fff;
  background: #800000;
}
::selection {
  color: #fff;
  background: #800000;
}
body > .main > .container,
body > .footer > .container {
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  min-width: 320px;
  max-width: 780px;
}
body > .footer {
  position: absolute;
  bottom: 0;
  width: 100%
}
article:first-of-type {
  margin-top: .9375rem;
}
article {
  margin-top: 1.875rem;
}
article p,
article blockquote,
article ol,
article ul {
  text-align: justify;
}
h1, h2 {
  font-weight: 600;
}
h3>small {
  line-height: 1.6;
}
h4 + h2 {
  margin-top: 1rem;
}
a:link,
a:hover,
a:active,
a:visited {
  color: #800000;
}
.text-muted a:link,
.text-muted a:hover,
.text-muted a:active,
.text-muted a:visited {
  color: #815357;
}
.blockquote {
  font-size: inherit;
}
