.navbar-full {
  padding-left: 0;
  padding-right: 0;
}
.nav-tabs {
  text-align: center;
}
.nav-tabs h1 {
  display: inline;
  font-size: inherit;
  line-height: inherit;
}
.nav-tabs .nav-link {
  float: none;
  display: inline-block;
  font-weight: 600;
}
.nav-link.active:hover {
  color: #800000;
}
.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
}
