<%= partial('partials/htmltop', :locals => { :layout => 'resume' }) %>
<%= partial('partials/topnav', :locals => { :layout => 'resume' }) %>
<main class="main">
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <%= yield %>
      </div>
    </div>
  </div>
</main>
<%= partial('partials/htmlend', :locals => { :layout => 'resume' }) %>
