<%= partial('partials/htmltop', :locals => { :layout => 'blog' }) %>
<%= partial('partials/topnav', :locals => { :layout => 'blog' }) %>
<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</main>
<%= partial('partials/htmlend', :locals => { :layout => 'blog' }) %>
