<% wrap_layout :blog do %>
  <article>
    <h2><%= current_page.data.title %></h2>
    <div class="tags"><small>
      Posted on <%= current_page.data.date.strftime('%A, %-d&nbsp;%B&nbsp;%Y') %>
      <span class="hidden-xs-down">at <%= current_page.data.date.strftime('%H:%M') %> UTC </span><br class="hidden-sm-up">
      &mdash; Filed in
      <% current_article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </small></div>
    <%= yield %>
    <%= partial('partials/postnav', :locals => { :previous_article => current_article.previous_article, :next_article => current_article.next_article }) %>
    <aside>
      <div id="disqus_thread" class="text-xs-center">
        <button type="button" class="btn btn-mathys" id='embed_disqus'>Show Comments<br><small class="text-muted">(provided by disqus)</small></button><br>
      </div>
      <script>
        var disqus_config = function () {
          this.page.url = "<%= 'https://blog.mathys.io' + current_article.url %>"
          this.page.identifier = "<%= current_article.slug %>"
        };
      </script>
    </aside>
  </article>
<% end %>
