---
title: Resume
---

<article>
<h2>Personal &amp; <br class="hidden-sm-up">Contact Information</h2>
<address class="address">
  <div class="row">
    <dl class="col-xs-12 col-md-6">
      <dt class="col-xs-4 text-nowrap">Name</dt>
      <dd class="col-xs-8 text-nowrap">Sandro Mathys</dd>
      <dt class="col-xs-4 text-nowrap">Date of Birth</dt>
      <dd class="col-xs-8 text-nowrap">27 February 1985</dd>
      <dt class="col-xs-4 text-nowrap">Nationality</dt>
      <dd class="col-xs-8 text-nowrap">Swiss</dd>
      <dt class="col-xs-4 text-nowrap">Languages</dt>
      <dd class="col-xs-8 text-nowrap">
        German (native)<br>
        English (fluent)<br>
        Japanese (basic)
      </dd>
    </dl>
    <dl class="col-xs-12 col-md-6">
      <dt class="col-xs-4 text-nowrap">Phone</dt>
      <dd class="col-xs-8 text-nowrap"><%= link_to '+41 78 659 84 44', 'tel:+41786598444' %></dd>
      <dt class="col-xs-4 text-nowrap">E-Mail</dt>
      <dd class="col-xs-8 text-nowrap"><%= link_to 'sandro@mathys.io', 'mailto:sandro@mathys.io' %></dd>
      <dt class="col-xs-4 text-nowrap">LinkedIn</dt>
      <dd class="col-xs-8 text-nowrap"><%= link_to 'Profile', 'https://www.linkedin.com/in/sandromathys/' %></dd>
    </dl>
    <dl class="col-xs-12 col-md-6">
      <dt class="col-xs-4 text-nowrap">Address</dt>
      <dd class="col-xs-8 text-nowrap"><% link_to 'https://www.google.com/maps/place/Gujerstrasse+8,+8050+Zrich/@47.4155657,8.5421821,17z/data=!3m1!4b1!4m5!3m4!1s0x47900a854a58468d:0x80adebcabae1986c!8m2!3d47.4155657!4d8.5443708' do%>
          Gujerstrasse 8<br>
          8050 Zurich<br>
          Switzerland
        <% end %></dd>
    </dl>
  </div>
</address>
</article>

<article>
<h2>Quick Summary</h2>
<p>
  Experienced Linux Systems and Operations Engineer with a flair for cloud-based solutions and a strong passion for open source and leading edge technologies.
</p>
</article>

<article>
<h2>Professional Experience</h2>

<h3><small>2019 / 07 &ndash; present</small><br>
  Cloud Systems Developer</h3>
<h4><%= link_to 'Cloudreach', 'https://www.cloudreach.com/' %></h4>
<p>
  Delivered tailored technical solutions on Google Cloud Platform (GCP) and Amazon Web Services (AWS) using state of the art technologies and industry best practices. Created deployments and configurations of cloud infrastructure with customer requirements such as reliability, security and cost-effectiveness in mind. Leveraged and promoted automation tooling such as Kubernetes and Terraform.
</p>

<h3><small>2016 / 09 &ndash; 2019 / 06</small><br>
  Senior Cloud <br class="hidden-sm-up">Systems Engineer</h3>
<h4><%= link_to 'Swisscom', 'https://www.swisscom.com/' %></h4>
<p>
  Operating, maintaining and monitoring the PaaS offering based on the Cloud Foundry ecosystem as a member of a DevOps team with 24/7 on-call rotation. Performing release engineering and life-cycle management tasks for various data services using BOSH and Concourse CI. Designing and engineering new data services, leveraging state of the art technologies such as Kubernetes and MongoDB, as a subject matter expert. Creating and expanding technical documentation for in-house operations as well as technical manuals for customers. Providing 2nd and 3rd level customer support, including analysis and elimination of complex faults and error states. Closely collaborating and mediating with key customers while overseeing ongoing work on critical issues and changes as a technical lead.
</p>

<h3><small>2015 / 04 &ndash; 2016 / 01</small><br>
  MidoNet <br class="hidden-md-up hidden-xs-down">Technical <br class="hidden-sm-up">Community Manager</h3>
<h4><%= link_to 'Midokura', 'http://www.midokura.com/' %></h4>
<p>
  Implemented the MidoNet open source community strategy, managing engagement and interactivity with its audience, and fostering community spirit. Enabled volunteers to contribute to the community easily and efficiently. Organized and coordinated meetings and events, both online and face-to-face. Generated compelling editorial content, authored blog posts, articles, podcasts, videos and other community content. Measured the growth of the community, and analyzed, reviewed and reported on effectiveness of new initiatives. Advocated the community within the company, and vice versa.
</p>

<h3><small>2014 / 10 &ndash; 2015 / 04</small><br>
  <span class="text-nowrap">Senior SaaS</span> <span class="text-nowrap">Operations Engineer</span></h3>
<h4><%= link_to 'Meltwater Group', 'https://www.meltwater.com/' %></h4>
<p>
  Maintained and developed the infrastructure for several proprietary SaaS applications with a large international customer base. Deployed and managed various technologies required to run the SaaS applications, such as web servers, databases, search engines and message brokers. Monitored all systems' and applications' health around the clock, as part of the globally distributed technical operations team. Collaborated with the external data centers in all these efforts as necessary.
</p>

<h3><small>2012 / 11 &ndash; 2013 / 12</small><br>
  Cloud Architect</h3>
<h4><%= link_to '<span class="text-nowrap">ETH Zurich</span> / <br class="hidden-sm-up"><span class="text-nowrap">Swiss Federal Intitute of Technology</span>', 'https://www.ethz.ch/en/' %></h4>
<p>
  Evaluated various cloud appliances and software stacks such as HP CloudSystem Matrix, StackOps Enterprise Edition, Red Hat OpenStack and RDO in order to find the ideal cloud platform for the high-performance computing needs of researchers throughout Switzerland. Designed, deployed and maintained a Scientific Linux and RDO based OpenStack cloud based on the Folsom release using the Packstack installer. Planned and prepared the upgrade to the Havana release while also switching to use advanced Puppet manifests. Evaluated and prepared the switch to Neutron with the Open vSwitch plug-in, GRE tunnels and network namespaces instead of Nova Networking. Contributed patches to Packstack and various Puppet modules to extend or fix their functionality.
</p>

<h3><small>2009 / 02 &ndash; 2013 / 01</small><br>
  Linux Systems Engineer</h3>
<h4><%= link_to '<span class="text-nowrap">ETH Zurich</span> / <br class="hidden-sm-up"><span class="text-nowrap">Swiss Federal Intitute of Technology</span>', 'https://www.ethz.ch/en/' %></h4>
<p>
  Designed, deployed and maintained diskless Fedora workstations, as well as RHEL servers running on VMware ESX to provide lifecycle and configuration management services such as RHN Satellite or Puppet. Provided comprehensive 2nd and 3rd level support for own services, RHEL specific issues and any Linux related questions in general. Handled typical systems administration tasks such as automation, RPM software packaging, etc. Participated in the respective open source communities, particularly working closely with Fedora QA. Evaluated new and upcoming technologies such as Red Hat CloudForms, Amazon AWS and OpenStack.
</p>

<h3><small>2007 / 07 &ndash; 2009 / 01</small><br>
  Java Software Engineer</h3>
<h4><%= link_to 'Noser Engineering', 'https://www.noser.com/' %></h4>
<p>
  Maintained in-house developed Java SE applications during the on- and off-boarding phases at Noser Engineering. But first and foremost, developed several Java EE applications for postal services as a consultant to the Swiss Post. Worked with tools, frameworks and technologies such as Eclipse, MVC, Struts, JSF, Spring, Hibernate and Oracle RDBMS.
</p>
</article>

<article>
<h2>Awards, Certifications &amp; Education</h2>

<h3><small>2019 / 11</small><br>
  <%= link_to '<span class="text-nowrap">Certified Kubernetes</span> <span class="text-nowrap">Application Developer</span>', 'https://www.cncf.io/certification/ckad/' %></h3>
<h4><%= link_to 'Cloud Native Computing Foundation', 'https://www.cncf.io/' %></h4>
<blockquote class="blockquote">
  The Certified Kubernetes Application Developer exam certifies that users can design, build, configure, and expose cloud native applications for Kubernetes. A Certified Kubernetes Application Developer can define application resources and use core primitives to build, monitor, and troubleshoot scalable applications and tools in Kubernetes.
</blockquote>

<h3><small>2019 / 11</small><br>
  <%= link_to '<span class="text-nowrap">Certified Kubernetes</span> Administrator', 'https://www.cncf.io/certification/cka/' %></h3>
<h4><%= link_to 'Cloud Native Computing Foundation', 'https://www.cncf.io/' %></h4>
<blockquote class="blockquote">
  The Cloud Native Computing Foundation offers a certification program that allows users to demonstrate their competence in a hands-on, command-line environment. The purpose of the Certified Kubernetes Administrator program is to provide assurance that CKAs have the skills, knowledge, and competency to perform the responsibilities of Kubernetes administrators.
</blockquote>

<h3><small>2019 / 09</small><br>
  <%= link_to '<span class="text-nowrap">Google Cloud Certified</span> <span class="text-nowrap">Associate Cloud Engineer</span>', 'https://cloud.google.com/certification/cloud-engineer' %></h3>
<h4><%= link_to 'Google Cloud', 'https://cloud.google.com/' %></h4>
<blockquote class="blockquote">
  An Associate Cloud Engineer deploys applications, monitors operations, and manages enterprise solutions. This individual is able to use Google Cloud Console and the command-line interface to perform common platform-based tasks to maintain one or more deployed solutions that leverage Google-managed or self-managed services on Google Cloud.
</blockquote>

<h3><small>2019 / 07</small><br>
  <%= link_to '<span class="text-nowrap">Microsoft Certified Azure</span> <span class="text-nowrap">Administrator Associate</span>', 'https://docs.microsoft.com/en-us/learn/certifications/azure-administrator' %></h3>
<h4><%= link_to 'Microsoft', 'https://www.microsoft.com/' %></h4>
<blockquote class="blockquote">
  Candidates for this exam are Azure Administrators who manage cloud services that span storage, security, networking, and compute cloud capabilities. Candidates have a deep understanding of each service across the full IT lifecycle, and take requests for infrastructure services, applications, and environments. They make recommendations on services to use for optimal performance and scale, as well as provision, size, monitor, and adjust resources as appropriate.
</blockquote>

<h3><small>2010 / 06</small><br>
<%= link_to 'RHCE <span class="text-nowrap">of the Year</span>', 'https://www.redhat.com/en/about/press-releases/rhce-of-the-year' %></h3>
<h4><%= link_to 'Red Hat', 'https://www.redhat.com/' %></h4>
<blockquote class="blockquote">
  Red Hat's annual RHCE of the Year contest is a celebration of the hard work, expertise, and ingenuity of some of the world's premier IT professionals. RHCEs continue to provide value to their organizations and clients as shown by the accomplishments of this year's RHCE of the Year winners.
</blockquote>

<h3><small>2009 / 05</small><br>
  <%= link_to '<span class="text-nowrap">Red Hat Certified</span> <span class="text-nowrap">Engineer</span>', 'https://www.redhat.com/en/services/certification/rhce' %></h3>
<h4><%= link_to 'Red Hat', 'https://www.redhat.com/' %></h4>
<blockquote class="blockquote">
  A Red Hat Certified Engineer (RHCE) is a Red Hat Certified System Administrator who possesses the additional skills, knowledge, and abilities required of a senior system administrator responsible for Red Hat Enterprise Linux systems.
</blockquote>

<h3><small>2009 / 05</small><br>
  <%= link_to '<span class="text-nowrap">Red Hat Certified</span> <span class="text-nowrap">System Administrator</span>', 'https://www.redhat.com/en/services/certification/rhcsa' %></h3>
<h4><%= link_to 'Red Hat', 'https://www.redhat.com/' %></h4>
<blockquote class="blockquote">
  An IT professional who has earned the Red Hat Certified System Administrator (RHCSA) is able to perform the core system administration skills required in Red Hat Enterprise Linux environments.
</blockquote>

<h3><small>2003 / 10 &ndash; 2006 / 11</small><br>
  <span class="text-nowrap">Bachelor of Engineering,</span><br><span class="text-nowrap">Communications Systems</span> <span class="text-nowrap">and Informatics</span></h3>
<h4><%= link_to 'ZHAW / <span class="text-nowrap">Zurich University</span> <span class="text-nowrap">of Applied Science</span>', 'https://www.zhaw.ch/en/' %></h4>
<blockquote class="blockquote text-justify">
  Graduates possess the capabilities, competence and extensive knowledge to work in planning, evaluation, and maintenance of IT infrastructures, consulting and project planning, training, or support. Graduates have the potential for further development and concentration on a specialist or business area, or for assuming managerial responsibilities in the IT-field.
</blockquote>
</article>

<article>
<h2>Volunteer Activities</h2>

<h3><small>2013 / 03 &ndash; 2013 / 12</small><br>
  <%= link_to 'RDO Project', 'https://www.rdoproject.org/' %></h3>
<p>
  Contributed to the development and advocacy of Packstack (an OpenStack installer) and to the quality assurance efforts of the project’s OpenStack distribution.
</p>

<h3><small>2007 / 04 &ndash; 2013 / 12</small><br>
  <%= link_to 'Fedora Project', 'https://fedoraproject.org/' %></h3>
<p>
  Participated in various roles, as time allowed and interests shifted. Most notable roles included project advocacy, quality assurance and software packaging, as well as serving as an appointed voting member to the Fedora Community and the Fedora Cloud working groups. Also co-lead the organization of FUDCon Zurich 2010 with over 100 participants.
</p>
</article>
