    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-nowrap text-xs-center">
            <small class="text-muted">Powered by <%= link_to 'GitLab', 'https://gitlab.com/' %>, <%= link_to 'Middleman', 'https://middlemanapp.com/' %> &amp; <%= link_to 'Bootstrap', 'https://getbootstrap.com/' %>.</small>
          </div>
        </div>
      </div>
    </footer>
    <% if locals[:layout] == 'blog' %>
      <script src="/js/disqus.js" defer></script>
    <% end %>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>-->
  </body>
</html>
