<nav class="navbar navbar-full navbar-light hidden-print">
  <div class="nav nav-tabs">

    <% if locals[:layout] == 'photography' %>
      <h1><a href="https://photography.mathys.io/" class="nav-item nav-link active">Photography<span class="sr-only"> (current)</span></a></h1>
    <% else %>
      <a href="https://photography.mathys.io/" class="nav-item nav-link disabled" title="Coming soon!">Photography</a>
    <% end %>

    <% if locals[:layout] == 'blog' %>
      <h1><a href="https://blog.mathys.io/" class="nav-item nav-link active">Blog<span class="sr-only"> (current)</span></a></h1>
    <% else %>
      <a href="https://blog.mathys.io/" class="nav-item nav-link">Blog</a>
    <% end %>

    <% if locals[:layout] == 'resume' %>
      <h1><a href="https://sandro.mathys.io/" class="nav-item nav-link active">Resume<span class="sr-only"> (current)</span></a></h1>
    <% else %>
      <a href="https://sandro.mathys.io/" class="nav-item nav-link">Resume</a>
    <% end %>

  </div>
</nav>
