---
pageable: false
---
<article>
  <h2 class="calendar">Archive for
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%F') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%Y-%m') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h2>

  <%= partial('partials/article_list', :locals => { :page_articles => page_articles }) %>
</article>
