---
pageable: true
---
<% page_articles.each_with_index do |article, i| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <div class="tags"><small>
      Posted on <%= article.date.strftime('%A, %-d&nbsp;%B&nbsp;%Y') %>
      <span class="hidden-xs-down">at <%= article.date.strftime('%H:%M') %> UTC </span><br class="hidden-sm-up">
      &mdash; Filed in
      <% article.tags.each do |tag, articles| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </small></div>
    <%= article.body %>
  </article>
<% end %>

<%= partial('partials/pagenav', :locals => { :paginate => paginate, :num_pages => num_pages, :prev_page => prev_page, :next_page => next_page }) %>
