article .tags {
  margin-bottom: .5rem;
}
article .tags a:after {
  content: ',';
}
article .tags a:last-of-type:after {
  content: '';
}
aside .btn-mathys {
  margin-top: .9375rem;
}
.btn-mathys {
  color: #800000;
  background-color: #fff;
  border-color: #800000;
}
.btn-mathys:hover {
  color: #fff;
  background-color: #800000;
  border-color: #800000;
}
.btn-mathys:active,
.btn-mathys:focus {
  outline: none;
}
code,
pre,
kbd,
samp {
  padding: .2rem .4rem;
  border-radius: .25rem;
  font-family: 'Source Code Pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New','monospace';
  font-size: 90%;
  text-align: left;
  color: #014c8c;
  background-color: #f7f7f9;
}
pre,
kbd,
samp {
  display: block;
  margin-top: .2rem;
  margin-bottom: .2rem;
}
blockquote.blockquote p:last-child {
  margin-bottom: 0;
}
